<a href="https://colab.research.google.com/github/Anubriya/Set/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Anu={"Rishi","Rochita","Zoya",15,12,3}
Anu

{12, 15, 3, 'Rishi', 'Rochita', 'Zoya'}

In [3]:
num={1,2,3,4,5,6,15,12}
num

{1, 2, 3, 4, 5, 6, 12, 15}

In [4]:
Anu.add("Anubriya")
Anu
#Adds an element to the set

{12, 15, 3, 'Anubriya', 'Rishi', 'Rochita', 'Zoya'}

In [5]:
Anu.difference(num)
#Returns a set containing the difference between two or more sets

{'Anubriya', 'Rishi', 'Rochita', 'Zoya'}

In [6]:
Anu.intersection(num)
#Returns a set, that is the intersection of two or more sets

{3, 12, 15}

In [7]:
Anu.isdisjoint(num)
#Returns whether two sets have a intersection or not

False

In [8]:
num.issubset(Anu)
#Returns whether another set contains this set or not

False

In [9]:
Anu.union(num)
#Return a set containing the union of sets

{1, 12, 15, 2, 3, 4, 5, 6, 'Anubriya', 'Rishi', 'Rochita', 'Zoya'}

In [10]:
num.clear()
num
#Removes all the elements from the set

set()

In [11]:
x=Anu.copy()
x
#Returns a copy of the set

{12, 15, 3, 'Anubriya', 'Rishi', 'Rochita', 'Zoya'}

In [12]:
Anu.add("1234")
print(Anu)
print(x)

{3, 'Rochita', 'Zoya', 'Rishi', 12, '1234', 'Anubriya', 15}
{3, 'Rochita', 'Zoya', 'Rishi', 12, 'Anubriya', 15}

In [15]:
Anu.discard(12)
Anu
#Remove the specified item

{'1234', 15, 3, 'Anubriya', 'Rishi', 'Rochita', 'Zoya'}